{% extends 'base.html.twig' %}

{% block title %} Profil {{ app.user.username }} {% endblock %}

{% block body %}
<div class="container">
    <h3>{{ app.user.name ~ ' ' ~ app.user.lastName }}, <small>{{ app.user.PESEL }}</small></h3> 
    <span><b>Zarejestrowano: </b>{{ app.user.createdAt|date('d-m-Y H:i') }}</span>
    <p><b>Email: </b> {{ app.user.email }}</p>
    <p><b>Data urodzenia: </b> {{ app.user.birthday|date('d-m-Y') }}</p>
    <p>{{ app.user.address ~ ', ' ~ app.user.city ~ ' ' ~ app.user.postCode }}</p>
    <p>{{ app.user.numPhone }}</p>
    
    <a href="{{ path('profile.profile_edit') }}" class="link-as-btn">Edytuj profil</a>
    <h2>Wizyty</h2>
    <div class="container-select">
        {{ include('profile/_filters.html.twig') }}
    </div>
    <table class="profile-table">
        <tr>
            <th>Data wizyty</th>
            <th>Godzina wizyty</th>
            <th>Poradnia</th>
            <th></th>
        </tr>
            {% for v in visits %}
                <tr> 
                    <td>{{ v[0].start|date('d-m-Y') }}</td>
                    <td>{{ v[0].start|date('H:i') }}</td>
                    <td>{{ v.name }}</td>
                    <td><a class="link-blue" href="{{ path('profile.visit_show', {'id': v[0].id}) }}">Szczegóły</a></td>
                </tr>
            {% endfor %}
    </table>
    <p><b>Łączna liczba wizyt: </b>{{ countVisits }}</p>
</div>
{% endblock %}
