{% extends 'base.html.twig' %}

{% block title %}Przychodnia rejonowa{% endblock %}

{% block body %}

    <div class="container">
        {% for label, messages in app.flashes(['success', 'fail']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h1>Przychodnia Rejonowa Online</h1>
        <div class="contact-container">
            <h3>Kontakt</h3>
            <div class="clinic-card not-clickable">
                <div class="clinic-item">
                    <p>Lokalizacja: ul. Kobylińskiego 3, 09-400 Płock</p>
                    <p>Telefon: 22 421 234 23</p>
                </div>
            </div>
        </div>
        <h3>Przegląd Przychodni</h3>
        <div class="clinics-container">
         
                <div class="clinic-card">
                    <div class="clinic-item">
                        <h3><a class="link" href="{{ path('register') }}">e-Rejestracja</a></h3>
                    </div>
                </div>
                <div class="clinic-card">
                    <div class="clinic-item">
                        <h3><a class="link" href="{{ path('visit') }}">Poradnie</a></h3>
                    </div>
                </div>
                <div class="clinic-card">
                    <div class="clinic-item">
                        <h3><a class="link" href="{{ path('doctors') }}">Lekarze</a></h3>
                    </div>
                </div>
          
    </div>
    </div>

{% endblock %}
