{% extends 'admin_panel/index.html.twig' %}



{% block content %}
{# read and display several types of flash messages #}
{% for label, messages in app.flashes(['success', 'fail']) %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    <h1>Poradnie</h1>
    <table class="admin-table">
        <tr>
            <th>Id poradni</th>
            <th>Nazwa</th>
{#            <th>Akcja</th>#}
        </tr>
    {% for poradnia in poradnie %}
        <tr>
            <td>{{ poradnia.id }}</td>
            <td><a class="link-blue" href="{{ path('admin.jednostka_show', {id: poradnia.id}) }}">{{ poradnia.nazwa }}</a></td>
{#            <td>#}
{#                <a class="delete" href="{{ path('admin.poradnia_delete', {id: poradnia.id}) }}">Usuń</a>#}
{#            </td>#}
        </tr>
    {% endfor %}
    </table>
    <a href="{{ path('admin.poradnia_add') }}">Dodaj poradnie</a>

{% endblock content %}

