    {{ form_start(form, {'attr': {'class': 'form', 'autocomplete':'off'}}) }}
        <div class="form-item-col">
            {{ form_label(form.name, 'Imię', {'attr': {'class' : 'form-label'}} ) }}
            {% if form_errors(form.name) %}
                {{ form_widget(form.name, {'attr': {'class' : 'form-input form-input--error'}} ) }}
            {% else %}
                {{ form_widget(form.name, {'attr': {'class' : 'form-input'}} ) }}
            {% endif %}
            <span class="form-error">{{ form_errors(form.name) }}</span>
        </div>
        <div class="form-item-col">
            {{ form_label(form.lastName, 'Nazwisko', {'attr': {'class' : 'form-label'}} ) }}
            {% if form_errors(form.lastName) %}
                {{ form_widget(form.lastName, {'attr': {'class' : 'form-input form-input--error'}} ) }}
            {% else %}
                {{ form_widget(form.lastName, {'attr': {'class' : 'form-input'}} ) }}
            {% endif %}
            <span class="form-error">{{ form_errors(form.lastName) }}</span>
        </div>
        <div class="form-item-col">
            {{ form_label(form.numPwz, 'NumerPWZ', {'attr': {'class' : 'form-label'}} ) }}
            {% if form_errors(form.numPwz) %}
                {{ form_widget(form.numPwz, {'attr': {'class' : 'form-input form-input--error'}} ) }}
            {% else %}
                {{ form_widget(form.numPwz, {'attr': {'class' : 'form-input'}} ) }}
            {% endif %}
            <span class="form-error">{{ form_errors(form.numPwz) }}</span>
        </div>
        <div class="form-item-col">
            {{ form_label(form.spec, 'Specjalizacja', {'attr': {'class' : 'form-label'}} ) }}
            {% if form_errors(form.spec) %}
                {{ form_widget(form.spec, {'attr': {'class' : 'form-input form-input--error'}} ) }}
            {% else %}
                {{ form_widget(form.spec, {'attr': {'class' : 'form-input'}} ) }}
            {% endif %}
            <span class="form-error">{{ form_errors(form.spec) }}</span>
        </div>
        <div class="form-item-col">
            {{ form_label(form.status, 'Status', {'attr': {'class' : 'form-label'}} ) }}
            {{ form_widget(form.status, {'attr': {'class' : 'form-select select--small'}} ) }}
            <span class="form-error">{{ form_errors(form.status) }}</span>
        </div>
        <button class="form-btn">Zatwierdź</button>
        <a class="link-as-btn cancel" href="{{ path('admin.doctors') }}">Rezygnuj</a>
    {{ form_end(form) }}