{% extends 'admin_panel/index.html.twig' %}

{% block content %}
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="container admin">
    <h1>Lekarze</h1>
    <table class="admin-table">
        <tr>
            <th>Id</th>
            <th>Numer PWZ</th>
            <th>Imie i nazwisko</th>
            <th>Specjalizacja</th>
            <th>Status</th>
            <th colspan="2">Akcje</th>
        </tr>
    {% for d in doctors %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.NumPwz }}</td>
            <td>{{ d.lastName ~ ' ' ~ d.name }}</td>
            <td>{{ d.spec }}</td>
            {% if d.status == 1 %}
            <td>Aktywny</td>
            {% else %}
            <td>Nieaktywny</td>
            {% endif %}
            <td><a class="link-blue" href="{{ path('admin.doctor_edit', {'id':d.id}) }}">Edytuj</a></td>
            <td><a class="delete" href="{{ path('admin.doctor_delete', {'id':d.id}) }}">Usuń</a></td>
        </tr>
    {% endfor %}
    </table>
    <a class="link" href="{{ path('admin.doctor_add') }}">Dodaj lekarza</a>
</div>
{% endblock %}
