{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <div class="registration-container">
            <div class="registration-form">
                <h1>Rejestracja</h1>
                <h3>Dane logowania</h3>

                {{ form_start(registrationForm) }}

                {{ form_label(registrationForm.email) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.email) }}
                {{ form_label(registrationForm.password.first) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.password.first) }}
                {{ form_label(registrationForm.password.second) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.password.second) }}

                <h3>Dane personalne</h3>
                {{ form_label(registrationForm.imie) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.imie) }}

                {{ form_label(registrationForm.nazwisko) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.nazwisko) }}

                {{ form_label(registrationForm.PESEL, 'PESEL') }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.PESEL) }}

                {{ form_label(registrationForm.telefon) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.telefon) }}

                {{ form_label(registrationForm.plec, 'Płeć') }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.plec) }}

                {{ form_label(registrationForm.data_urodzenia) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.data_urodzenia) }}
                <h3>Adres zamieszkania</h3>
                {{ form_label(registrationForm.adres_zamieszkania) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.adres_zamieszkania) }}

                {{ form_label(registrationForm.miasto) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.miasto) }}

                {{ form_label(registrationForm.kod_pocztowy) }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.kod_pocztowy, { 'attr' : {'id' : 'tbNum', 'onkeyup' : 'addHyphen(this)'}} ) }}

                {{ form_label(registrationForm.agreeTerms, 'Akceptuj warunki') }}<i style="color:#fc0003;">*</i>
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.submit) }}
                {{ form_end(registrationForm) }}
            </div>
    </div>


<script>
	function addHyphen (element) {
    	let ele = document.getElementById(element.id);
        ele = ele.value.split('-').join('');    // Remove dash (-) if mistakenly entered.

        let finalVal = ele.match(/.{0,2}/g).join('-');
        document.getElementById(element.id).value = finalVal;
    }
</script>
{% endblock %}
