{{ form_start(form) }}
    <h2>{{ form_label(form, 'Filtry',  {'attr': {'novalidate': 'novalidate'}}) }}</h2>
    {{ form_label(form.clinic) }}
    {{ form_widget(form.clinic, {'attr': {'class': 'form-select form-select--small'}}) }}
    {{ form_label(form.doctor) }}
    {{ form_widget(form.doctor, {'attr': {'class': 'form-select form-select--small'}}) }}
    {{ form_label(form.type) }}
    {{ form_widget(form.type, {'attr': {'class': 'form-select form-select--small'}}) }}
{{ form_end(form) }}

<script>
    // var $clinic = $("#filter_clinic")
    //
    // $clinic.change(function ()
    //     {
    //         var $form = $(this).closest('form')
    //
    //         var data = {}
    //
    //         data[$clinic.attr('name')] = $clinic.val()
    //
    //         $.post($form.attr('action'), data).then(function (response)
    //         {
    //             $("#filter_doctor").replaceWith(
    //                 $(response).find("#filter_doctor")
    //             )
    //         })
    //     }
    // )
</script>