{% extends 'admin_panel/index.html.twig' %}

{% block title %} Wizyty {% endblock %}

{% block content %} 
<table class="admin-table">
    <tr>
        <th>Id wizyty</th>
        <th>Nazwa jednostki</th>
        <th>Lekarz</th>
        <th>Pacjent</th>
        <th>Data wizyty</th>
        <th>Godzina rozpoczęcia</th>
        <th>Godzina zakończenia</th>
        

    </tr>
    <tr>
{% for v in visit %}
    <td>{{ v.id }}</td>
    <td>{{ v.name }}</td> 
    <td>{{ v.d_name ~ ' ' ~ v.d_lastName }}</td>
    <td>{{ v.u_name ~ ' ' ~ v.u_lastName }}</td>
    <td>{{ v.start|date('d-m-Y') }}</td>
    <td>{{ v.start|date('H:i') }}</td>
    <td>{{ v.end|date('H:i') }}</td>
    
    </tr>
{% endfor %}
</table>
{% endblock content %}