{{ form_start(form, {method: 'POST', 'action': path('admin.clinic_add'), 'attr': {'class': 'form', 'autocomplete':'off'}}) }}
<div class="form-item-col">
    {{ form_label(form.name, 'Nazwa poradni', {'attr': {'class' : 'form-label'}} ) }}
    {% if form_errors(form.name) %}
        {{ form_widget(form.name, {'attr': {'class' : 'form-input form-input--error'}} ) }}
    {% else %}
        {{ form_widget(form.name, {'attr': {'class' : 'form-input'}} ) }}
    {% endif %}
    <span class="form-error">{{ form_errors(form.name) }}</span>
</div>
<button class="form-btn">Dodaj</button>
{{ form_end(form) }}