{% extends 'admin_panel/index.html.twig' %}



{% block content %}
<div class="container admin">
{% for label, messages in app.flashes(['success', 'fail']) %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    <h1>Poradnie</h1>
    <table class="admin-table">
        <tr>
            <th>Id poradni</th>
            <th>Nazwa</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th colspan="1">Akcja</th>
            {% endif %}

        </tr>
    {% for c in clinics %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>
                <a class="delete" href="{{ path('admin.clinic_delete', {id: c.id}) }}">Usuń</a>
                <a class="assign" href="{{ path('admin.unit_show', {id: c.id}) }}">Wyświetl</a>
                <a class="assign" href="{{ path('admin.unit_add', {'idClinic': c.id}) }} ">Przypisz lekarza</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <div class="modal" id="modalWindow">
        <div class="modal-content">
          <span id="close" class="close">&times;</span>
          {{ include('admin_panel/clinic/_form.html.twig') }}
        </div>
      </div>
      <div class="form-item-col">
        <button class="link-as-btn" id="modalBtn">Dodaj poradnie</button>
      </div>
  <script src="{{asset('js/modal.js')}}"></script> 

{% endblock content %}

