{% extends 'base.html.twig' %}

{% block title %} {{ clinic.name }} {% endblock %}

{% block body %}

<div class="container">
    <h1>{{ clinic.name }}</h1>
    {% for u in unit %}
    <div class="clinic-card">
            <a href="{{path('visit_terms', {'id': u.unit})}}" hidden></a>
            {{ u.name ~ ' ' ~ u.last_name }} <br>
            {{ render(controller('App\\Controller\\VisitController::work_time_show', {'idClinic': clinic.id, 'idUnit':u.unit})) }}
    </div>
    {% endfor %}
</div>

<script>
    
    $('.clinic-card').click(function() {
   window.location.href = $(this).find('a').attr('href');
});
</script>
{% endblock %}