{% extends 'base.html.twig' %}

{% block title %} {{ clinic.name }} {% endblock %}

{% block body %}

<div class="container">
    <div class="clinics-container">
        <h1>{{ clinic.name }}</h1>
        {% for u in unit %}
        <div class="clinic-card">
            {% if u.status == 1 %}
                <div class="clinic-item"><a href="{{path('visit_terms', {'id': u.unit})}}" hidden></a>
                <h4 class="link">{{ u.name ~ ' ' ~ u.lastName }} <br></h4>
                {{ render(controller('App\\Controller\\VisitController::work_time_show', {'idClinic': clinic.id, 'idUnit':u.unit})) }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>

<script>
    
    $('.clinic-card').click(function() {
   window.location.href = $(this).find('a').attr('href');
});
</script>
{% endblock %}