{% extends 'base.html.twig' %}

{% block title %}Poradnie{% endblock %}

{% block body %}
<div class="container">

    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="clinics-container">
            {% for c in clinics %}
                <div class="clinic-card">
                    <div class="clinics-item">
                        <h3>{{ c.name }}<a href="{{ path('visit_choose', {'id': c.id}) }}" hidden></a></h3>
                        <ul>
                        {% for u in units %}
                            
                            {% if c.name == u.name %}
                                <li>{{ u.d_name ~ ' ' ~ u.last_name}}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

<script>
    $("ul:not(:has(li))").append($("<p>Aktualnie żaden doctor nie przyjmuje w tej poradni.</p>"))

    $('.clinic-card').click(function() {
   window.location.href = $(this).find('a').attr('href');
});
</script>
{% endblock %}
