{% extends 'base.html.twig' %}

{% block title %}Poradnie{% endblock %}

{% block body %}
<div class="container">

    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {% if label=='success' %}
                    Pomyślnie zarejestrowałeś się na badanie. Przejdź na swój <b><a class="link-green" href="{{ path('profile.index') }}">{{ message }}</a></b> aby zobaczyć szczegóły.
                {% else %}
                    {{ message }}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Poradnie lekarskie</h1>
    <div class="clinics-container">
            {% for c in clinics %}
                <div class="clinic-card">
                    <div class="clinic-item">
                        <h4 class="link">{{ c.name }}<a  href="{{ path('visit_choose', {'id': c.id}) }}" hidden></a></h4>

                            {% for u in units %}
                                {% if u.status == 1 %}
                                    {% if c.name == u.name %}
                                        <p><b>{{ u.d_name ~ ' ' ~ u.lastName }}</b> &ndash; {{ '  lekarz ' ~ u.spec|lower }}</p>
                                    {% endif %}
                                {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
    </div>
</div>


<script>
    $("div.clinic-item:not(:has(p))").append($("<p><b>Aktualnie żaden lekarz nie przyjmuje w tej poradni.</b></p>"))

    $('.clinic-card').click(function() {
   window.location.href = $(this).find('a').attr('href');
});
</script>
{% endblock %}
