{% extends 'base.html.twig' %}

{% block title %} Potwierdzenie wizyty {% endblock %}

{% block body %}
<div class="container">
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="flash-info">
        <p>
            Upewnij się, że podana data i godzina wizyty są prawidłowe. W razie konieczności, możesz dokonać <a class="link" href="{{ path('visit_terms', {'id': id }) }}">wyboru </a>jeszcze raz.
        </p>
    </div>
    <h1>{{ clinic.name }}</h1>
    <h2>{{doctor.name ~ ' ' ~ doctor.lastName}}</h2>
    <h2>Data</h2>
    <p>{{ start|format_datetime(pattern='dd MMMM Y', locale='pl') ~ ' ' ~ nameOfDay(start|date('w')) }}</p> <!-- TODO: POPRAWIĆ FORMAT DATY- LOCALIZEDDATE-->
    <h2>Przewidywana godzina rozpoczęcia</h2>
    <p>{{ start|date("H:i") }}</p>
    <h2>Przewidywana godzina zakończenia</h2>
    <p>{{ end|date("H:i") }}</p>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_widget(form.submit, {'attr':{'class':'form-btn'}})}}

    {{ form_end(form)}}

</div>


{% endblock %}