{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{{ clinic.name }}</h1>
    <h2>{{doctor.name ~ ' ' ~ doctor.lastName}}</h2>
    <h2>Data</h2>
    <p>{{start|date("Y-m-d") ~ ' ' ~ nameOfDay(start|date('w'))}}</p>
    <h2>Przewidywana godzina rozpoczęcia</h2>
    <p>{{start|date("H:i")}}</p>
    <h2>Przewidywana godzina zakończenia</h2>
    <p>{{end|date("H:i")}}</p>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_widget(form.submit, {'attr':{'class':'form-btn'}})}}

    {{ form_end(form)}}

</div>


{% endblock %}