{% extends 'base.html.twig' %}

{% block title %} Potwierdzenie wizyty {% endblock %}

{% block body %}
<div class="container">
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="flash-info">
        <p>
            Upewnij się, że podana data i godzina wizyty są prawidłowe. W razie konieczności, możesz dokonać <b><a class="link" href="{{ path('visit_terms', {'id': id }) }}">wyboru </a></b>jeszcze raz.
        </p>
    </div>
    <div class="summary-container">
        <div class="summary-row">
            <div class="summary-item">
                <h3>Poradnia</h3>
                <span>{{ clinic.name }}</span>
            </div>
            <div class="summary-item">
                <h3>Lekarz</h3>
                <span>{{doctor.name ~ ' ' ~ doctor.lastName}}</span>
            </div>
            <div class="summary-item">
                <h3>Data</h3>
                <span>{{ start|format_datetime(pattern='dd MMMM Y', locale='pl') ~ ' ' ~ nameOfDay(start|date('w')) }}</span> <!-- TODO: POPRAWIĆ FORMAT DATY- LOCALIZEDDATE-->
            </div>
        </div>
        <div class="summary-row">
            <div class="summary-item">
                <h3>Przewidywana godzina rozpoczęcia</h3>
                <span>{{ start|date("H:i") }}</span>
            </div>
            <div class="summary-item">
                <h3>Przewidywana godzina zakończenia</h3>
                <span>{{ end|date("H:i") }}</span>
            </div>
        </div>
    {{ form_start(form) }}
    {% if form_errors(form) %}
    <div class="flash-fail">
        {{ form_errors(form) }}
    </div>
    {% endif %}
    {{ form_widget(form.submit, {'attr':{'class':'form-btn'}})}}

    {{ form_end(form)}}
    </div>
</div>


{% endblock %}