{% extends 'admin_panel/index.html.twig' %}

{% block content %}
     <h1>{{ clinic.name }}</h1>
     <h3>Dodaj lekarza do poradni</h3>
     <table class="admin-table">
          <tr>
               <th>Numer PWZ</th>
               <th>Imie i nazwisko</th>
               <th>Specjalizacja</th>
               <th></th>
          </tr>
          {% for d in doctors %}
               <tr>
                    <td>{{ d.num_pwz }}</td>
                    <td>{{ d.last_name ~ ' ' ~ d.name }}</td>
                    <td>{{ d.spec }}</td>
                    <td>
                         <a class="add" href="{{ path('admin.unit_create', {'idDoctor': d.id, 'idClinic': clinic.id}) }}">Dodaj</a>
                    </td>
               </tr>
          {% endfor %}
     </table>
{% endblock content %}
