{% extends('admin_panel/index.html.twig') %}

{% block content %}
    <div class="container">
        {% for label, messages in app.flashes(['success', 'fail']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h1>Edytuj użytkownika</h1>
        <div class="form-item-col">
          <button class="btn-as-link" id="modalBtn">Zmień hasło</button>
        </div>
        {{ include('admin_panel/users/_edit_form.html.twig') }}
       
    </div>
    <div class="modal" id="modalWindow">
      <div class="modal-content">
        <span id="close" class="close">&times;</span>
        {{ include('admin_panel/users/_change_pwd_form.html.twig') }}
      </div>
    </div>
<script src="{{asset('js/modal.js')}}"></script> 
{% endblock content %}