{% extends 'admin_panel/index.html.twig' %}


{% block content %}
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>{{ user.name ~ ' ' ~ user.lastName }}</h1>
    {% if user.roles[0] == "ROLE_USER" %}
        <p>Użytkownik</p>
    {% elseif user.roles[0] == "ROLE_ADMIN" %}
        <p>Administrator</p>
    {% else %}
        <p>Operator</p>
    {% endif %}
    <p>{{ user.id }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.name ~ ' ' ~ user.lastName}}</p>
    <p>{{ user.PESEL }}</p>
    <p>{{ user.numPhone }}</p>
    <p>{{ user.address }}</p>
{#    <p>{{ user.city ~ ' ' ~ user.postCode }}</p>#}
    <p>{{ user.voivodeship }}</p>
    <p>{{ user.birthday|date("d/m/Y") }}</p>
    <p>{{ user.gender }}</p>
    <p>{{ user.roles[0] }}</p>
{% endblock %}