{% extends 'admin_panel/index.html.twig' %}


{% block content %}
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Użytkownicy</h1>
    <div class="container-select">
        {{ include('admin_panel/users/_filters.html.twig') }}
    </div>
    <table class="admin-table">
        <tr>
            <th>Email</th>
            <th>Użytkownik</th>
            <th>Rola</th>
            <th>Status</th>
            <th colspan="4">Akcje</th>
        </tr>
{#        {{ dump(users) }}#}
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.lastName ~ ' ' ~ user.name}}</td>
            <td>{{ user.roles[0]|roleFormat }}</td>
            <td>{{ user.status|statusFormat }}</td>
            <td><a class="add" href="{{ path('admin.user_edit', {id: user.id}) }}">Edytuj</a></td>
            <td><a class="delete" href="{{ path('admin.user_delete', {id: user.id}) }}">Usuń</a></td>
            <td></td>
        </tr>
       
        {% endfor %}
    </table>
    <a class="link" href="{{ path('admin.user_add') }}">Dodaj użytkownika</a>
{% endblock %}