{% extends 'admin_panel/index.html.twig' %}

{% block title %} Wizyty {% endblock %}

{% block content %} 
<table class="admin-table">
    <tr>
        <th>Id wizyty</th>
        <th>Nazwa jednostki</th>
        <th>Lekarz</th>
        <th>Pacjent</th>
        <th>Data wizyty</th>
        <th>Godzina rozpoczęcia</th>
        <th>Godzina zakończenia</th>
        

    </tr>
    <tr>
{% for w in wizyta %}
    <td>{{ w.id }}</td>
    <td>{{ w.nazwa }}</td> 
    <td>{{ w.l_imie ~ ' ' ~ w.l_nazwisko }}</td> 
    <td>{{ w.u_imie ~ ' ' ~ w.u_nazwisko }}</td> 
    <td>{{ w.rozpoczecie|date('d-m-Y') }}</td>
    <td>{{ w.rozpoczecie|date('H:i') }}</td>
    <td>{{ w.zakonczenie|date('H:i') }}</td>
    
    </tr>
{% endfor %}
</table>
{% endblock content %}