{% extends 'admin_panel/index.html.twig' %}


{% block content %}
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="admin-boxes-title">
        <h2>Na skróty</h2>
    </div>

    <div class="admin-boxes-title">
        <h3>Przeglądaj</h3>
    </div>
    <div class="admin-boxes">
        <a class="box-item" href="{{ path('admin.visits') }}">Wizyty</a>
        <a class="box-item" href="#">Statystyki</a>
        <a class="box-item" href="{{ path('admin.users') }}">Pacjenci</a>
        <a class="box-item" href="{{ path('admin.doctors') }}">Lekarze</a>
    </div>

    <div class="admin-boxes-title">
        <h3>Zarządzaj przychodnią</h3>
    </div>
    <div class="admin-boxes">
        <a class="box-item" href="{{ path('admin.doctor_add') }}">Dodaj lekarza</a>       
        <a class="box-item" href="{{ path('admin.clinic_add') }}">Dodaj poradnie</a>
        <a class="box-item" href="{{ path('admin.clinics') }}">Przypisz lekarza</a>
        <a class="box-item" href="{{ path('admin.user_add') }}">Dodaj użytkownika</a>
    </div>

   
{% endblock %}