{% extends 'base.html.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block body %}
    {% block sidebar %}
        <div class="sidebar" id="sidebar">
            <a href="#" class="close" onclick="closeSlideMenu()" style="color: white;">Zamknij</a>
            <a {% if app.request.attributes.get('_route')  starts with 'admin.user'%}
                class="active"{% endif %} href="{{ path('admin.users') }}">Użytkownicy</a>
            <a {% if app.request.attributes.get('_route') starts with 'admin.clinic'%}
                class="active"{% endif %}  href="{{ path('admin.clinics') }}">Poradnie</a>
                <a {% if app.request.attributes.get('_route') starts with 'admin.unit' %}
                class="active"{% endif %}  href="{{ path('admin.unit') }}">Jednostki</a>
            <a {% if app.request.attributes.get('_route') starts with 'admin.doctor' %}
                class="active"{% endif %}  href="{{ path('admin.doctors') }}">Lekarze</a>
            <a {% if app.request.attributes.get('_route') starts with 'admin.visits' %}
                class="active"{% endif %}  href="{{ path('admin.visits') }}">Wizyty</a>
        </div>
    {% endblock sidebar %}
    <div class="content" id="content">
        <a href="#" onclick="openSlideMenu()" style="color: black;">Menu</a>
        <div class="table-div">

        {% block content %}
        {% endblock content %}
  </div>   
</div>

    <script>

        function closeSlideMenu(){
            document.getElementById('sidebar').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
            document.getElementById('sidebar').style.transition = '0.7s';
            document.getElementById('content').style.transition = 'margin-left 0.7s';
            localStorage.setItem("toggle", "no");

        }
        function openSlideMenu(){
            document.getElementById('sidebar').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
            document.getElementById('sidebar').style.transition = '0.7s';
            document.getElementById('content').style.transition = 'margin-left 0.7s';
            localStorage.setItem("toggle", "yes");

        }

        if (localStorage.getItem("toggle") === null) {
            document.getElementById('sidebar').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
            document.getElementById('sidebar').style.transition = '0s';
            document.getElementById('content').style.transition = 'margin-left 0s';
            localStorage.setItem("toggle", "no");

        }else{
            if(localStorage.getItem("toggle") === "yes"){
                document.getElementById('sidebar').style.width = '250px';
                document.getElementById('content').style.marginLeft = '250px';
            }else{
                document.getElementById('sidebar').style.width = '0';
                document.getElementById('content').style.marginLeft = '0';
                document.getElementById('sidebar').style.transition = '0s';
                document.getElementById('content').style.transition = 'margin-left 0s';
            }
        }
    </script>
{% endblock body %}
