{% extends 'base.html.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block body %}
<div class="admin-grid-container">
    {% block sidebar %}
        <div class="sidebar">
        <h3>Panel administratora</h3>
            <a {% if app.request.attributes.get('_route') in [
                'admin.users',
                'admin.add_user',
                'admin.users_only',
                ] %} 
                class="active"{% endif %} href="{{ path('admin.users') }}">Użytkownicy</a>
            <a {% if app.request.attributes.get('_route') in [
                'admin.poradnie',
                'admin.poradnia_add',
                ] %} 
                class="active"{% endif %}  href="{{ path('admin.clinics_show') }}">Poradnie</a>
                <a {% if app.request.attributes.get('_route') in [
                'admin.unit',
                'admin.jednostka_show',
                'admin.jednostka_add',
                ] %} 
                class="active"{% endif %}  href="{{ path('admin.unit') }}">Jednostka</a>
            <a {% if app.request.attributes.get('_route') in [
                'admin.lekarze',
                'admin.lekarz_add',
                ] %}
                class="active"{% endif %}  href="{{ path('admin.doctors') }}">Lekarze</a>
            <a {% if app.request.attributes.get('_route') in [
                'admin.visit',
                ] %}
                class="active"{% endif %}  href="{{ path('admin.visit') }}">Wizyty</a>
        </div>
    {% endblock sidebar %}
    <div class="content">
        {% block content %}
        {% endblock content %}
  </div>   
</div>
{% endblock body %}
