{{ form_start(form)}}
{{ form_label(form.data_wizyty, 'Data wizyty')}}
{{ form_widget(form.data_wizyty)}}
{{ form_label(form.godzina_przyjecia,'Godzina przyjęcia')}}
{{ form_widget(form.godzina_przyjecia)}}
<button class="form-btn">Zapisz się</button>
{{ form_end(form)}}