{% extends 'base.html.twig' %}

{% block title %}Poradnie{% endblock %}

{% block body %}
<div class="container">

    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="container-poradnie">
            {% for p in poradnie %}
                <div class="poradnia-card">
                    <div class="poradnie-item">
                        <h3>{{ p.nazwa }}<a href="{{ path('wizyta_choose', {'id': p.id}) }}" hidden></a></h3>
                        <ul>
                        {% for j in jednostki %}
                            
                            {% if p.nazwa == j.nazwa %}
                                <li>{{ j.imie ~ ' ' ~ j.nazwisko}}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

<script>
    $("ul:not(:has(li))").append($("<p>Aktualnie żaden lekarz nie przyjmuje w tej poradni.</p>"))

    $('.poradnia-card').click(function() {
   window.location.href = $(this).find('a').attr('href');
});
</script>
{% endblock %}
