<p>Zarejestrowałeś się w naszej przychodni jako {{ name }} {{ lastName }}.</p>
<p>Kliknij w podany link żeby potwierdzić rejestrację i adres email!</p>
<a href="{{ link }}">{{link}}</a>
<p>{{ uid }}</p>
{# <small>Link będzie ważny do {{ expiration_date|date('d-m-Y H:i') }}</small> #}