<!DOCTYPE html>
<html>
    <head>
        <meta charset="iso-8859-2">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>{% block title %}Index{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <script
                src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
                integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
                crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <header>
            <ul class="navbar" id="">
            {% if is_granted('ROLE_USER') %}
                    <li class="navbar-li">
                        <a href="{{ path('logout') }}" class="">Wyloguj</a>
                    </li>
                    <li class="navbar-li">
                        <a href="#" class="">{{ app.user.username }}</a>
                    </li>
                {% else %}
                    <li class="navbar-li">
                        <a href="{{ path('register') }}" class="">Rejestracja</a>
                    </li>
                    <li class="navbar-li">
                        <a href="{{ path('login') }}" class="">Zaloguj</a>
                    </li>
                {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                <li class="navbar-li">
                    <a href="{{ path('admin.index') }}" class="">Panel administratora</a>
                </li>
                {% endif %}
                <li class="navbar-li">
                    <a href="#" class="">Kontakt</a>
                </li>
                <li class="navbar-li">
                    <a href="{{ path('home') }}" class="">Strona główna</a>
                </li>
            </ul>
    </header>
        {% block body %}{% endblock %}

    </body>
</html>
