<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>{% block title %}Przychodnia rejonowa{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css"> 
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/moment.js') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        {% endblock javascripts %}
    </head>
    <body>
    <header>
            <ul class="navbar" id="">
            {% if is_granted('ROLE_USER')%}
                    <li class="navbar-li">
                        <a href="{{ path('logout') }}" class="">Wyloguj</a>
                    </li>
                    <li class="navbar-li">
                       <a
                        {% if app.request.attributes.get('_route') starts with 'profile'%}
                            class="active" {% endif %} href="{{ path('profile.index') }}" class="">{{ app.user.username }}</a>
                    </li>
                {% else %}
                    <li class="navbar-li">
                        <a
                            {% if app.request.attributes.get('_route') starts with 'register'%}
                            class="active" {% endif %} href="{{ path('register') }}" class="">Rejestracja</a>
                    </li>
                    <li class="navbar-li">
                        <a
                            {% if app.request.attributes.get('_route') starts with 'login'%}
                            class="active" {% endif %} href="{{ path('login') }}" class="">Zaloguj</a>
                    </li>
                {% endif %}
                <li class="navbar-li">
                    <a
                        {% if app.request.attributes.get('_route') starts with 'visit'%}
                        class="active" {% endif %} href="{{ path('visit') }}" class="">Umów się na wizytę</a>
                </li>
                <li class="navbar-li">
                    <a
                        {% if app.request.attributes.get('_route') starts with 'home'%}
                        class="active" {% endif %} href="{{ path('home') }}" class="">Strona główna</a>
                </li>
                {% if is_granted('ROLE_OPERATOR') %}
                    <li class="navbar-li">
                        <a
                            {% if app.request.attributes.get('_route') starts with 'admin'%}
                            class="active" {% endif %} href="{{ path('admin.index') }}" class="">Panel administratora</a>
                    </li>
                {% endif %}
            </ul>
    </header>
        {% block body %}
        
        {% endblock %}

    </body>
</html>
